/* Resets */

input[type=text]:focus {
  outline: none;
}

/* Styles */

input[type=text] {
  border: 1px solid var(--grey);
  padding: 16px;
  border-radius: 8px;
  display: block;
  width: 100%;
}

input[type=text]:focus {
  box-shadow: inset 0 0 0 1px var(--purple-100);
  border-color: var(--purple-100);
}